.app {
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh; 
}
.red {
  display: flex; 
  color: red; 
  font-size: 1rem;
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column; 
}
h1 {
  margin: 1.5rem 1rem; 
  display: flex; 
  justify-content: center;
}
.tile{
  border-radius: 8px;
  box-shadow: 0 0 2px;
  width: 95%; 
  height: 7rem; 
  padding: 1rem; 
  margin: 0.5rem 1rem; 

  h2 {
    font-weight: normal;
  }
}
.line2{
  margin-top: -0.75rem; 
}
span:last-child {
  padding-left: 1rem; 
}

.skeleton-loader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skeleton-loader .skeleton-shape{
  height: 30px; 
  width: 100vw; 
  background-color: #ddd;
  margin-bottom: 10px;
  border-radius: 4px;
  animation: skeleton-loading 1.5s infinite;
}
@keyframes skeletonLoading {
  0%{
      opacity: 0.5;
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0.5;
  }
}